NODE_ENV=development
DB_NAME_DEV='URL_SHORTENERS'
DB_NAME_PROD='URL_SHORTENERS_PROD'
CONNECTION_STRING='mongodb://Lekens:Lekens0001@cluster0-shard-00-00.oasgl.gcp.mongodb.net:27017,cluster0-shard-00-01.oasgl.gcp.mongodb.net:27017,cluster0-shard-00-02.oasgl.gcp.mongodb.net:27017/URL_SHORTENERS?ssl=true&replicaSet=atlas-xs0e3n-shard-0&authSource=admin&retryWrites=true&w=majority'
CONNECTION_STRING_TEST='mongodb://Lekens:Lekens0001@cluster0-shard-00-00.oasgl.gcp.mongodb.net:27017,cluster0-shard-00-01.oasgl.gcp.mongodb.net:27017,cluster0-shard-00-02.oasgl.gcp.mongodb.net:27017/TEST_URL_SHORTENERS?ssl=true&replicaSet=atlas-xs0e3n-shard-0&authSource=admin&retryWrites=true&w=majority'
PORT='8090'
BASE_URL='/api/'
APIKEY='90976cc4f16bfbb6dd0d417c4ef7530'
APP_BASE_URL='http://localhost:8090'
